<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
    <link  rel="icon"   href="../images/favicon.ico" type="png"/>
    <title>GF fotografía</title>
</head>
<body>
    <div class="containerviews">
        <div class="header">
            <nav>
                <div>
                    <a href="../index.html">Giuliana Francone</a>
                </div>
                <div>
                    <a href="info.html">info</a>
                    <a href="https://www.instagram.com/giulifrancone/" target="_blank" >instagram</a>
                </div>
            </nav>
        </div>
        <div class="proyectos">
            <a href="escenicas.html">escénicas</a>
            <a href="pieles.html">pieles</a>
            <a href="plantas.html">plantas</a>
            <a href="intimas.html">íntimas</a>
        </div>
        <div class="galeria3">
            <img class="intimas" src="../images/intimas/IMG_2050.JPG" alt="">
            <img class="intimas" src="../images/intimas/IMG_2060.JPG" alt="">
            <img class="intimas" src="../images/intimas/IMG_2067.JPG" alt="">
            <img class="intimas" src="../images/intimas/" alt="">
            <img class="intimas" src="../images/intimas/" alt="">
            <img class="intimas" src="../images/intimas/" alt="">
            <img class="intimas" src="../images/intimas/" alt="">
            <img class="intimas" src="../images/intimas/" alt="">   
        </div>
        <div class="footer">
            <a href="../index.html">PÁGINA PRINCIPAL 🔺</a>
        </div>
      </div>
</body>
</html>